<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
    <extension
        point="net.jazz.ajax.webBundles">
    </extension>

    <extension
        point="net.jazz.ajax.ajaxModules">
        <ajaxModule id="com.siemens.bt.jazz.workitemeditor.presentation.customEditorPresentations"
            widgetClass="com.siemens.bt.jazz.workitemeditor.presentation.customEditorPresentations.ui.CustomEditorPresentations">
        </ajaxModule>
    </extension>

    <extension
		point="net.jazz.ajax.cssBindingSets">
		<cssBindingSet id="com.siemens.bt.jazz.workitemeditor.presentation.customEditorPresentations.CSSBindingSet" path="">
			<cssBinding jsModule="com.siemens.bt.jazz.workitemeditor.presentation.customEditorPresentations.ui.CustomEditorPresentations">
				<cssModule path="/ui/CustomEditorPresentations.css"/>
			</cssBinding>
		</cssBindingSet>
    </extension>
</plugin>