.editPropertyAsJsonDialogContent {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    padding: 5px;
}

.editPropertyAsJsonDialogContent
.editPropertyAsJsonContainer {
    flex: 0 1 auto;
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 10px;
}

.editPropertyAsJsonDialogContent
.editPropertyAsJsonContainer
.editPropertyAsJsonLabel {
    display: inline-block;
    width: 100px;
    color: #666;
}

.editPropertyAsJsonDialogContent
.editPropertyAsJsonContainer
.editPropertyAsJsonValueContainer {
    display: block;
    box-sizing: border-box;
    height: 100%;
    min-height: 200px;
    max-height: calc(80vh - 150px);
    width: calc(100% - 20px);
    margin: 10px;
    border: 5px solid green;
    background-color: #20262e;
    color: white;
    font-family: monospace;
}

.editPropertyAsJsonDialogContent
.editPropertyAsJsonContainer
.editPropertyAsJsonButton {
    float: left;
    margin: 5px;
}

.editPropertyAsJsonDialogContent
.editPropertyAsJsonContainer
.editPropertyAsJsonButton.editPropertyAsJsonButtonRight {
    float: right;
}