.editPropertyAsJsonDialogContent {
    height: 80vh;
    width: 80vw;
    padding: 5px;
}

.editPropertyAsJsonContainer {
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 10px;
}

.editPropertyAsJsonLabel {
    display: inline-block;
    width: 100px;
    color: #666;
}

.editPropertyAsJsonValueContainer {
    display: block;
    box-sizing: border-box;
    height: 100%;
    min-height: 200px;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 15px;
    border: 5px solid green!important;
    background-color: #20262e!important;
    color: white!important;
    font-family: monospace;
    overflow: auto;
    resize: none;
}