<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
    <extension
        point="net.jazz.ajax.webBundles">
        <alias value="com.siemens.bt.jazz.workitemeditor.presentation.labelIntegerPresentation"></alias>
    </extension>

    <extension
        id="com.siemens.bt.jazz.workitem.labelInteger"
        name="Label Integer"
        point="com.ibm.team.workitem.service.editorPresentations">
            <editorPresentation
                id="com.siemens.bt.jazz.workitemeditor.presentation.labelIntegerPresentation"
                widget="com.siemens.bt.jazz.workitemeditor.presentation.labelIntegerPresentation.ui.LabelIntegerPresentation"
                needsAttribute="true">
            </editorPresentation>
    </extension>

    <extension
		point="net.jazz.ajax.cssBindingSets">
		<cssBindingSet id="com.siemens.bt.jazz.workitemeditor.presentation.labelIntegerPresentation" path="">
			<cssBinding jsModule="com.siemens.bt.jazz.workitemeditor.presentation.labelIntegerPresentation.ui.LabelIntegerPresentation">
				<cssModule path="/ui/LabelIntegerPresentation.css"/>
			</cssBinding>
		</cssBindingSet>
    </extension>
</plugin>