<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension
	point="com.ibm.team.workitem.ide.ui.editorPresentations">
   		<editorPresentation
        	displayName="Label Integer"
        	id="com.siemens.bt.jazz.workitemeditor.presentation.labelIntegerPresentation"
        	needsAttribute="true">
        		<attributeType id="integer"/>
   		</editorPresentation>
</extension>
</plugin>