/*
* Remove the spinners from number input types.
* They mess with the event handling otherwise.
*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.labelIntegerPresentationRightLabel {
    width: 35%;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 3px;
}

.labelIntegerPresentationRightLabel > span {
    color: #666;
    word-wrap: break-word;
}