.labelIntegerPresentationInput {
    width: 100%;
    flex: 1 1 auto;
    text-align: right;
}

.labelIntegerPresentationRightLabel {
    max-width: 50%;
    padding-left: 15px;
    padding-right: 5px;
    flex: 1 0 auto;
}

.labelIntegerPresentationRightLabelEditable {
    padding-top: 2px;
}

.labelIntegerPresentationRightLabel > span {
    color: #666;
    word-wrap: break-word;
    vertical-align: middle;
}